:root{
	--slide-width: 550px;
	--slide-height: 350px;
	--slide-number:  4;
}
@media (max-width: 600px){
	:root{
		--slide-width: 320px;
		--slide-height: 204px;
		
	}
}
.slider{
	position: relative;
	background-color: #eee;
	padding: 1em;
	text-align: center;
	min-width: calc( var(--slide-width) + 2em);
}
#slide-container {
	width: var(--slide-width);
	height: var(--slide-height);
	border: 5px black solid;
	margin: 1em auto;
	overflow: hidden;
}

#slide-wrapper {
	width: calc( var(--slide-width) * var(--slide-number));
	display: flex;
	transition: left .5s cubic-bezier(0.53,-0.43, 0.7, 1.2);
	position: relative;
	left: 0; /*this will change with JS*/
}

.slide {	
	white-space: normal;
	width: var(--slide-width);
	height: var(--slide-height);
}
#itemOne {
	background-color: #0099cc;
	background-image: url("../images/image1.jpg");
}

#itemTwo {
	background-color: #ffcc00;
	background-image: url("../images/image2.jpg");
}

#itemThree {
	background-color: #ff6666;
	background-image: url("../images/image3.jpg");
}

#itemFour {
	background-color: #e8e8e8;
	background-image: url("../images/image4.jpg");
}

#navLinks ul {
	margin: 0px;
	padding: 0px;
	margin-top: 6px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


#navLinks ul li {
	margin: 10px;
	list-style: none;
	cursor: pointer;
	background-color: #eee;
	padding: 5px;
	border-radius: 50%;
	border: rgba(0,0,0,.1) 5px solid;
	transition: all .2s ease-in;
}

#navLinks ul li:hover {
	background-color: #FF00B4;
}

#navLinks ul li.active {
	background-color: #A7A7A7;
	color: #ffffff;
	outline-width: 7px;
}

#navLinks ul li.active:hover {
	background-color: #484848;
	color: #ffffff;
}
.slider:hover #arrows{
	opacity: 1;
}
#arrows{
	opacity: 0;
	position: absolute;
	top: calc( var(--slide-height) / 2);
	left: calc(50% - (var(--slide-width)/2 ));
	width:var(--slide-width);
	display: flex;
	justify-content: space-between;
	transition: opacity .2s ease-in-out;
}
#arrows button{
	background-color: black;
	border: none;
	outline: none;
	border-radius: 0 10em 10em 0;
	margin: 0;
	line-height: 1;
	width: 2em;
	height: 3em;
	padding: 0 ;
	font-family: Calibri;
	font-size: 120%;
}
#arrows button:nth-child(2){
	border-radius:  10em 0 0 10em ;

}